@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

$font: "Roboto", sans-serif;
$font2: "Open Sans", sans-serif;
$primaryclr: #8fb4ca;
$secondaryclr: #021eb5;
$thirdclr: #02b59a;
$darkbg: #121212;

.free-section-container {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(2, 720px);
    margin-left: 2%;
    margin-right: 2%;
}

.free-assistance-container {
    position: relative;
    margin-bottom: 5%;
}

.free-txt {
    left: 2%;
    right: 2%;
}

.free-title {
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
}

.free-title--styles {
    font-family: $font;
    font-size: 30px;
    font-weight: 600;
    color: $secondaryclr;
}

.free-assistance-summary {
    text-align: center;
    margin-left: 5%;
}

.free-summary--styles {
    font-family: $font2;
    font-size: 22px;
    line-height: 30px;
    color: $secondaryclr;
}

.assistance-img {
    max-width: 408px;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.free-registration-container {
    position: relative;
}

.free-registration-summary {
    text-align: center;
    margin-left: 5%;
}

@media only screen and (min-width: 768px) {
    .free-section-container {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(1, 700px);
        //background-color: black;
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 2%;
    }

    .assistance-img-container {
        display: block;
        width: 100%;
        margin-left: 0 auto;
    }

    .assistance-img {
        max-width: 400px;
        margin-left: 18%;
        filter: blur(0);
        -webkit-filter: blur(0);
    }

    .free-txt {
        text-align: center;
    }

    .free-title {
        text-align: center;
    }

    .registration-title {
        margin-top: 6.2%;
    }
    .free-assistance-summary {
        text-align: center;
    }
}
