@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

$font: "Roboto", sans-serif;
$font2: "Open Sans", sans-serif;
$primaryclr: #8fb4ca;
$secondaryclr: #021eb5;
$thirdclr: #02b59a;
$darkbg: #121212;

.service {
    margin-bottom: 4%;
    border: 2px solid lighten($color: $primaryclr, $amount: 50);
}

.service--styles {
    border-radius: 15px;
}

.icon-container {
    width: 90px;
    height: 90px;
    display: inline-block;
    margin-left: 37%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.icon-container--styles {
    border-radius: 100px;
    background-color: $primaryclr;
}

.icon {
    margin-left: 24%;
    margin-top: 20%;
}
.icon--styles {
    color: white;
    opacity: 0.9;
}

.title-container {
    margin-top: 5%;
    margin-bottom: 5%;
}

.title {
    text-align: center;
}

.title--styles {
    font-size: 22px;
    font-family: $font;
    font-weight: 800;
    color: $secondaryclr;
}
.description {
    text-align: center;
    padding-left: 12%;
    padding-right: 12%;
}

.description--styles {
    font-size: 14px;
    line-height: 23px;
    font-family: $font2;
    color: $primaryclr;
}

.btn-container {
    margin-top: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-path {
    background-color: $primaryclr;
    text-align: center;
    margin-top: 5%;
    transition: all 0.3s;
}

.btn-path:hover {
    transform: scale(0.95);
    background-color: darken($color: $primaryclr, $amount: 10);
}

.btn-path--styles {
    text-decoration: none;
    font-family: $font;
    font-weight: 500;
    font-size: 16px;
    color: lighten($color: $primaryclr, $amount: 60);
    padding: 4%;
    border-radius: 15px;
}

@media only screen and (min-width: 768px) {
    .btn-container {
        margin-top: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon-container {
        margin-left: 39%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .icon {
        margin-left: 24%;
        margin-top: 20%;
    }
    .btn-path {
        margin-left: 0%;
        margin-right: 0%;
    }

    .btn-path--styles {
        font-size: 18px;
        color: lighten($color: $primaryclr, $amount: 60);
    }
}
